<h1>Make a Tweet:</h1>

<form action='/tweets' method="post">
  Content:
  <textarea type="text" name="content"></textarea><br>
  Create Your Tweet:
  <input type="submit" name="submit" id="submit">
</form>
