<h1>Welcome,</h1>

<strong>Don't Have An Account? <a href="/signup">Sign Up!</a></strong>

<strong>Otherwise, login </strong>

<br /><br />

<form action="/login" method="POST">
  <section class="form_row">
    <label class="form_content_left" for="email"><strong>Username:</strong></label><input class="form_content_right" type="username" name="username"><br>
  </section>

  <section class="form_row">
    <label class="form_content_left" for="password"><strong>Password:</strong></label><input class="form_content_right" type="password" name="password"><br>
  </section>
  <input class="login_link" type="submit" value="submit">
</form>
