<h1>New User Sign Up</h1>

<form action="/signup" method="POST">
   <label for="username" class="form_content_left"><strong>Username: </strong></label><input class="form_content_right" type="text" name="username" placeholder="Enter Username"><br>
   <label for="email" class="form_content_left"><strong>Email: </strong></label><input class="form_content_right" type="email" name="email" placeholder="Enter Email"><br>
   <label for="password" class="form_content_left"><strong>Password: </strong></label><input class="form_content_right" type="password" name="password" placeholder="Enter Password"><br>
   <input class="signup_link" type="submit" value="Sign Up!">
</form>
